extends layout 

block content 
  h1 Generation #{gen.name} 

  div 
    h4 Pokemon
    dl(class='detailPage') 
      each poke in pokemon
        dt(class='pokemonCard') 
          a(href=poke.url) #{poke.name}

      else 
        p There are no Pokemon in this Generation


  hr
  div(class='update-delete-btn')
    a(href=gen.url+'/delete') Delete Generation
    a(href=gen.url+'/update') Update Generation