extends layout 

block content 
  h1 Generation #{gen.name} 

  div 
    h4 Pokemon
    dl 
      each poke in pokemon
        dt 
          a(href=poke.url) #{poke.name}

      else 
        p There are no Pokemon in this Generation


  hr
  p
    a(href=gen.url+'/delete') Delete Generation
  p
    a(href=gen.url+'/update') Update Generation