extends layout 

block content 
  h1= title 

  ul(class='homepage') 
    each pokemon in list 
      li(class='pokemonCard') 
        a(href=pokemon.url class='pokeName') #{pokemon.name}
        div(class='pokeTypeContainer')
          for pokeType in  pokemon.type
            a(href=pokeType.url class='pokeTypeName') #{pokeType.name} 
        

    else 
      li There are no books.