extends layout 

block content 
  h1= title 

  ul 
    each pokemon in list 
      li 
        a(href=pokemon.url) #{pokemon.name} 
        for pokeType in  pokemon.type
          a(href=pokeType.url) #{pokeType.name} 
        

    else 
      li There are no books.