extends layout 

block content 
  h1= title 

  form(action="", method="post" class='pokemon-create-form') 
    section(class='left-form-content')
      div(class='input-content') 
        label(for="name") Name:
        input#pokeName(type='text' name='name' placeholder='Name of Pokemon' required='true' value=(undefined===pokemon ? '' : pokemon.name))
      div(class='input-content') 
        label(for="height") Height(cm):
        input#pokeHeight(type='text' name='height'  placeholder='Pokemon height' required='true' value=(undefined===pokemon ? '' : pokemon.height)) 
      div(class='input-content') 
        label(for="weight") Weight(kg):
        input#pokeWeight(type='text' name='weight' placeholder='Pokemon Weight' required='true' value=(undefined===pokemon ? '' : pokemon.weight)) 
      div(class='input-content') 
        label(for="generation") Generation:
        select#pokeGen(type='select' placeholder='Select Generation' required='true' name='generation')
          for generation in generations
            if pokemon
              option( value=generation._id selected=( generation._id.toString()===pokemon.gen._id || generation._id.toString()===pokemon.gen ? 'selected' : false) ) #{generation.name}
            else 
              option( value=generation._id) #{generation.name} 
      button(type='submit') Submit

    section(class='right-form-content')          
      div(class='input-content') 
        label(for="description") Description:
        textarea#pokeDesc(type='textarea' name='description' cols="30", rows="10" placeholder='Describe your pokemon' required='true') #{undefined===pokemon ? '' : pokemon.description}
      
      div(class='input-content') 
        label(for="") Type:
        div(class='type-content') 
          for typing in typings
            div(class='type-input') 
              input.ckType(type='checkbox' name='typing' onclick="return ckLimit()" id=typing._id value=typing._id checked=typing.checked)
              label(for=typing._id) #{typing.name}

    script.
        function ckLimit() {
            var limit = 2;
            var total = 0;
            var checkType = document.getElementsByClassName('ckType');
            var x = checkType.length;
            for (var i = 0; i < x; i++) {
                if (checkType[i].checked) {
                    total += 1;
                }
                if (total > limit) {
                    alert(`Please select only ${limit}`);
                    this.checked = false;
                    return false;
                }
            }
        }


