extends layout 

block content 
  h1 #{pokemon.name}

  div 
    for pokeType in  pokemon.type
      a(href=pokeType.url class='pokemon-detail-type') #{pokeType.name} 
    
  div 
    p #{pokemon.gen.name}
    div(class='pokemon-detail-info')
      p Height: #{pokemon.height} cm 
      p Weight: #{pokemon.weight} kg
    p(class='pokemon-description') #{pokemon.description}


  hr
  div(class='update-delete-btn')
    a(href=pokemon.url+'/delete') Delete Pokemon
    a(href=pokemon.url+'/update') Update Pokemon