extends layout 

block content 
  h1 Type #{typing.name} 

  div 
    h4 Pokemon
    dl(class='detailPage') 
      each poke in pokemon
        dt(class='pokemonCard') 
          a(href=poke.url) #{poke.name}

      else 
        p There are no Pokemon in this Type

  hr
  div(class='update-delete-btn')
    a(href=typing.url+'/delete') Delete Type
    a(href=typing.url+'/update') Update Type